.container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 0.01fr 1fr 50px;
  grid-template-areas:
    "navbar navbar"
    "filters games"
    "footer footer";
  height: inherit;
}

.reset button {
  margin-top: 20px;
  background-color: yellow;
  border-color: yellow;
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

.reset button:hover {
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 10px 5px #fff900;
  box-shadow: 0px 0px 10px 5px #fff900;
}

.navbar {
  grid-area: navbar;
}

.filters {
  margin-top: 10px;
  grid-area: filters;
  background-color: black;
  height: 100%;
}

.games {
  grid-area: games;
  padding: 20px;
  height: 100%;
}

.footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
