.container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 0.01fr 1fr 50px;
  grid-template-areas:
    "navbar navbar"
    "filters games"
    "footer footer";
  height: inherit;
}

.navbar {
  grid-area: navbar;
}

.filters {
  margin-top: 10px;
  grid-area: filters;
  background-color: black;
}

.games {
  grid-area: games;
  padding: 20px;
  background-color: yellow;
  -webkit-box-shadow: inset 0px 0px 15px 2px #000000;
  box-shadow: inset 0px 0px 15px 2px #000000;
}

.footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
